body{
    background: #EAEAEA;
}

div.back-top{
  z-index: 1;
  position: fixed;
  left: 0;
  width: 100vw;
  padding: 16px;
  background: #5F67C9;
}

div.back-top div{
  position: relative;
}

div.back-top div img{
  width: 70px;
}

div.back-top div a{
  float: right;
  margin: 10px 20px 10px 10px;
  color: white;
}

div.categorias{
  padding: 100px 30px 30px 30px;
  top: 0;
  left: 0;
  position: fixed;
  background: #F6F6F6;
  height: 100vh;
}

div.categorias ul, div.categorias li a{
  list-style: none;
  font-size: 20px;
  color: #2B2B2B;
  padding: 0;
}

/*Conteudo*/
div.conteudo{
  top: 120px;
  left: 150px;
}

div.conteudo #box-post{
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.080);
  background: white;
  margin-bottom: 25px; 
}

div.conteudo #box-post h2{
  font-size: 20px;
  font-weight: bold;
}

div.conteudo #box-post iframe{
  border: none;
  width: 100%;
  height: 350px;
}

div.conteudo  #box-post a{
  display: block;
  width: 100%;
  color: white;
  margin: 5px 0 7px 0;
  text-align: center;
  background: #5F67C9;
  padding: 8px;
  font-size: 20px;
  border-radius: 10px;
}

div.conteudo #box-post a:hover{
  background: #5258AD;
  text-decoration: none;
}


/*ajusts*/
div.conteudo .tlt-dsc{
  padding: 14px 14px 0px 14px;
}

div.conteudo .bt-group{
  padding: 7px 16px 10px 16px;
}

@media (max-width: 800px){
  div.categorias{
    width: 100vw;
    height: 150px;
    position: relative;
    z-index: 0;
  }
  
  div.categorias h2{
    display: none;
  }
  
  div.categorias ul{
    text-align: center;
  }
  
  div.categorias ul li{
    display: inline;
    margin: 20px;
  }
  
  div.conteudo{
    position: absolute;
    top: 170px;
    left: 0;
  }
  
  div.col-sm-7{
    max-width: 100%;
  }
}